<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title>Tasks</title>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/semantic-ui@2.4.2/dist/semantic.min.css">
    <script src="https://cdn.jsdelivr.net/npm/semantic-ui@2.4.2/dist/semantic.min.js"></script>
  </head>
  <body>
    <div class="ui container">
    <h1>Hi {{ name }}</h1>
      <h2>Add Task</h2>
      <div class="ui segment">
        <form class="ui form" action="/add" method='post'>
          <label for="name">Name</label>
          <input type="text" name="name" placeholder="Name the task" maxlength="50" size="50"></input>
          <label for="description">Description</label>
          <input type="text" name="description" placeholder="Describe it" maxlength="500" size="500"></input>
          <label for="due">Due</label>
          <input type="date" name="due" placeholder="Pick a due date" maxlength="20" size="20">
          <button class="ui blue button" type="submit">Add</button>
      </form>
      </div>

      {% if open_tasks %}
        <h2>Open tasks</h2>
        {% for task in open_tasks %}
        <div class="ui segment">
          <p>
          No. {{ task.id }} <h3>{{ task.name }}</h3>
          <a class="ui white button" href='/details/{{ task.id }}'>Details</a>
          <a class="ui blue button" href='/done/{{ task.id }}'>Mark done</a>
          <a class="ui red button"href='/delete/{{ task.id }}'>Delete</a>
          Due: {% if task.due %} <span class="ui yellow label">{{ task.due }}</span> {% else %} <span class="ui gray label">No due date</span> {% endif %}
          </p>
        </div>
        {% endfor %}
      {% else %}
      <h2>Good Job! You have no open tasks.</h2>
      {% endif %}

      {% if done_tasks %}
        <h2>Done tasks</h2>
        {% for task in done_tasks %}
        <div class="ui segment">
          <p>
          No. {{ task.id }} <h3>{{ task.name }}</h3>
          <a class="ui white button" href='/details/{{ task.id }}'>Details</a>
          <a class="ui blue button" href='/undone/{{ task.id }}'>Mark undone</a>
          <a class="ui red button"href='/delete/{{ task.id }}'>Delete</a>
          Due: {% if task.due %} <span class="ui yellow label">{{ task.due }}</span> {% else %} <span class="ui gray label">No due date</span> {% endif %}
          </p>
        </div>
        {% endfor %}
      {% else %}
      <h2>There are no done tasks.</h2>
      {% endif %}

      {% with messages = get_flashed_messages() %}
      {% if messages %}
      <h2>Messages</h2>
      <ul >
      {% for message in messages %}
        <li class="flashes ui info message">{{ message }}</li>
      {% endfor %}
      </ul>
      {% endif %}
      {% endwith %}

    </div>
  </body>
</html>
